<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog made by Anna</a></h1>
        </div>

        <div>
            <p>published: 06.02.106, 17:20</p>
            <h2><a href="">My first post</a></h2>
            <p>First post is here!I'm good!</p>
        </div>

        <div>
            <p>published: 06.02.106, 17:20</p>
            <h2><a href="">My second post :-(</a></h2>
            <p>I'm tired and sick!</p>
        </div>
        <div>
        <p>....(_!_)....</p>
      </div>
    </body>
</html>
